<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="save" method="post">    
<table>    
<tr>    
<td><label for="emp-name">Employee Name</label></td>    
<td><input type="text" name="ename"></input></td>    
 </tr>    
<tr>    
<td><label for="tech">Tech</label></td>    
<td><input type="text" name="tech"></input></td>    
</tr>    
<tr>    
<td></td>    
<td><input type="submit" value="Submit"></input></td>    
</tr>    
</table>    
</form>    
</body>
</html>